.liveEdit{
    border: 2px dashed grey;
    padding: 5px;
	background-color: rgba(0, 0, 0, 0.2);
}
[contenteditable="true"]:hover{
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px dashed grey;
}
#message{
background: #0ada0a;
color: #fff;
}
button {
	padding: 5px 10px;
	text-align: center;
	background: #45619D;
	color: white;
	border: none;
	border-radius: 4px;
	/* margin-left: 20px; */
	/* float: left; */
	position: absolute;
}
button:hover{
background: #0ada0a;
cursor: pointer;	
}
body{
margin: 0;
}
.conteneur{
width: 80%;
margin: 0 auto;
/* border: 2px solid; */
}
header, footer{
background: #dedede;
padding: 0.5%;
height: 5vh;
min-height: 80px;
}
.logo{
float: left;
width: 30%;
}
.slogan{
float: left;
width: 50%;
margin-left: 10%;
}
.gauche{
float: left;
width: 30%;
/* background: #f56f32; */
}
.droite{
float: left;
width: 50%;
margin-left: 10%;
}
.clear{ clear: both; }
nav{
background: #000;
min-height: 30px;
}
nav  a{ text-decoration: none; color: #fff; margin: 0 3%; line-height: 30px ; min-height: 30px; }
nav  a:hover{ background: #f21ffd; }
section{
min-height: 500px;
}